*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Hind Siliguri', sans-serif;
    color: white;
}
body{
    background-color: #125B50;
}
.title-app{
    font-size: 3.5rem;
    text-align: center;
    font-weight: 700;
    width: auto;
    height: 100px;
    padding: 10px;
}
.container_imagenes figure{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 170px;
}
.container_imagenes figure img{
    width: 70px;
    height: 70px;
}
.intro-App{
    width:auto;
    text-align: center;
    font-size: 1.5rem;
    padding: 15px;   
}
.container_corazon figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 200px;
}
.container_corazon figure img{
    width: 150px;
    height: 150px;
}
.uso-App{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
    width: auto;
    padding: 15px;
}
.instrucciones-uso{
    width: auto;
    height: 240px;
    font-size: 1.5rem;
    padding: 15px;
}
.points{
    margin: 10px 10px;
}
#form{
    color: #125B50;
    background-color: #d4f5d4;
    width: auto;
    height: 310px;
    padding: 15px;
    margin: 20px 0;
}
.datos-intro{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.box_data{
    width: 150px;
    height: 24px;
    background-color:  #d3ece9;
    border-radius: 5px;
    text-align: center;
    
}
.datos-intro{
    font-size: 1.3rem;
}
.data-graphic{
    margin-top: 25px;
    width: auto;
}
.data-graphic h3{
    text-align: center;
    width: auto;
    font-size: 1.3rem;
}
.graphic-periode{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.graphycator{
    color: #125B50;
    border: none;
    border-radius: 30px;
    width: 200px;
    height: 40px;
    margin: 10px 0;
    font-size: 1.4rem;
    font-weight: 600;
}
.periodo{
    margin: 10px 0;
    font-size: 1.3rem;
}
.miTabla{
    width: auto;
    height: 600px;
    
}
canvas{
    margin-top: 30px;
    background-color: #191A19;
}